<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="">All Subscriberss</h3>
          <p>From here you can manage your Subscribers.</p>
          <button class="btn btn-warning ml-2 mt-5" routerLink="/">
            Back to Dahsboard
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover" style="table-layout: fixed">
            <thead>
              <tr>
                <th>No</th>

                <th>Name</th>

                <th>Email</th>
                <th width="200">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subs of subData; let i = index">
                <td width="10">{{ i + 1 }}</td>

                <td width="200">{{ subs.data.name }}</td>
                <td>{{ subs.data.email }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-danger ml-1"
                    (click)="deleteSubs(subs.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
